body{
    background-color: rgb(170, 150, 119);
}
*{
    box-sizing: border-box;
}
main{
    width: 70%;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "h h"
                         "a n"
                         "f f";
}
footer{
    grid-area: f;
}
article{
    grid-area: a;
    /*view heigt*/
    height: 60vh;
}
nav{
    grid-area: n;
}
nav ul li,a{
    text-decoration: none;
    list-style: none;
}
nav ul li a:hover{
    background-color: rgb(236, 218, 193);
}
header{
    grid-area: h;
    background-image: url(birds-and-flowers-cream-1.jpg);
}
header,nav,article,footer{
    background-color: rgb(199, 178, 154);
    padding: 1em;
}
header,footer{
    text-align: center;
}
fieldset{
    border: 1px white solid;
    margin: 15px;
    padding: 15px;
}
legend{
    width: 20%;
    text-align: right;
    background-color: antiquewhite;
    border-radius: 5px;
    color: black;
    padding: 2px 30px;
}
label{
    width: 20%;
    float: left;
    margin-right: 20px;
}
input,label{
    margin-top: 20px;
}
input{
    padding: 5px;
    box-shadow: 5px 5px;
    margin-bottom: 5px;
}
.csuszka{
    float: left;
    box-shadow: none;
}

.nevek{
    float: left;
}
footer h2{
    font-style: italic;
}
input[type=submit]:focus{
    background-color: brown;
}

@media all and (max-width:1200px) {
    /*csak a valtozast*/
    main{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    header,nav,article,footer{
        background-color: rgb(229, 180, 120);
        padding: 1em;
    }
    legend{
        width: 50%;
        text-align: center;
    }
}
@media all and (max-width:600px){
    main{
        grid-template-columns:1fr;
        grid-template-areas: "h"
                             "n"
                             "a"
                             "f";
    }
    header,nav,article,footer{
        background-color: rgb(145, 116, 80);
    }
}